@*<footer class="footer footer_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <aside class="widget about_widgets">
                    <img src="~/Content/UserUI/images/foo_logo.png" alt="" />
                    <p>07 000 000 000</p>
                    <p>07 000 000 001</p>
                    <p>admin@vsaver.com</p>
                </aside>
            </div>
            <div class="col-lg-4 col-md-6">
                <aside class="widget links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">How it Works</a></li>
                        <li><a href="#">Guarantee</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Report Bug</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-4 col-md-6">
                <aside class="widget subscribe_widgets">
                    <h3>Subscribe our newsletter.</h3>
                    <form action="#" method="post">
                        <input type="email" placeholder="support@vsaver.com" name="email" />
                        <input type="text" placeholder="+234 00 *** *** ***" name="phone" />
                        <input type="submit" value="Subscribe now">
                    </form>
                </aside>
            </div>
        </div>
    </div>
</footer>*@
<!-- footer section -->
<!-- Copyright section -->
<section class="copyright copyright_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Copyright <i class="icofont-copyright"></i> 2021; All Right Reserved</p>
            </div>
        </div>
    </div>
</section>